@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Cormorant+Garamond:wght@400;700&display=swap');


body {
  background-color: #ffffff;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
}